p {
  font-family: Helvetica;
  font-weight: normal;
  font-size: medium;
  margin-right: 40px;
  text-align: justify;
  line-height: 2;
}

.galeri {
  max-height: 120px;
  border: 1px solid #ddd;
  display: flex;
  overflow-x: auto;
}

.galeri::-webkit-scrollbar {
  width: 0;
}

h1 {
  text-align: center;
  align-self: center;
  font-family: fantasy;
}

h2 {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

.galeri .item {
  min-width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  background-color: #ddd;
  margin-right: 2px;
}

.env .row {
  align-self: center;
}

/* card fasilitas */
button-fiture {
  width: 238px;
  height: 63px;
  background-color: var;
}
