p {
  font-family: Helvetica;
  font-weight: normal;
  font-size: large;
  /* margin-right: 40px;
  text-align: justify; */
  line-height: 2;
}

h1 {
  /* text-align: center;
  align-self: center; */
  font-family: "Franklin Gothic Medium";
  font-weight: bolder;
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-family: "Franklin Gothic Medium";
  /* font-weight: bold; */
  font-size: 8px;
  font-weight: 500;
}

h3 {
  font-family: "Franklin Gothic Medium";
  /* font-weight: bold; */
  font-size: 38px;
  font-weight: 300;
}

.pertama {
  color: white;
}

/* * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        background-color: black;
      } */

/* GALERI */

.lainya {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  width: 100%;
  padding: 0px;
  margin: 0px;
  /* box-sizing: border-box; */
  /* background-color: black; */
}

.main-scroll-div {
  width: 100%;
  /* height: 100%; */
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  border: 2px solid red;
}

.cover {
  position: relative;
  width: 90%;
  height: 50%;
}

/* .cover::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 150px;
  background-image: linear-gradient(90deg, black, transparent);
}

.cover::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  z-index: 99;
  height: 100%;
  width: 150px;
  background-image: linear-gradient(-90deg, black, transparent);
} */

.scroll-images {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: auto;
  /* position: relative; */
  scroll-behavior: smooth;
}

.child {
  min-width: 100%;
  height: 100%;
  /* margin: 10px 10px; */
  cursor: pointer;
  /* border: 1px solid rgba(207, 201, 201, 0.3); */
  overflow: hidden;
}

.scroll-images::-webkit-scrollbar {
  -webkit-appearance: none;
}

.child-img {
  width: 100%;
  height: 100%;
  align-items: center;
}

.icon {
  color: #45b0f8;
  /* background-color: black; */
  font-size: 50px;
  outline: none;
  border: none;
  padding: opx 20px;
  cursor: pointer;
}

.icon:hover {
  color: #fced19;
}

/* AKHIR GALERI */

/* VIDEO YT */
.elementor-widget-video .container {
  overflow: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.elementor-widget-video .elementor-open-inline .elementor-custom-embed-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
}

.elementor-widget-video .elementor-custom-embed-image-overlay {
  cursor: pointer;
  text-align: center;
}

.elementor-widget-video .elementor-custom-embed-image-overlay:hover .elementor-custom-embed-play i {
  opacity: 1;
}

.elementor-widget-video .elementor-custom-embed-image-overlay img {
  display: block;
  width: 100%;
}

.elementor-widget-video .e-hosted-video .elementor-video {
  -o-object-fit: cover;
  object-fit: cover;
}

/* AKHIR VIDEO YT */

/* selayang */
/* .row p {
  line-height: 1.4;
  text-align: justify;
  margin-bottom: 5px;
} */

/* selayang pandang */

#check {
  display: none;
}

.content {
  display: none;
  transition: 0.5s linear;
}
label {
  display: inline-block;
  color: #45b0f8;
  cursor: pointer;
  font-weight: 600;
}

#check:checked ~ .content {
  display: block;
}

#check:checked ~ label {
  visibility: hidden;
}

#check:checked ~ label:after {
  content: "Show Less";
  display: block;
  visibility: visible;
}

/* akhir selayang pandang */

/* halaman gallery */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 40px 20px 0 20px;
}

.container .heading {
  width: 50%;
  padding-bottom: 50px;
}
.container .heading h3 {
  font-size: 3em;
  font-weight: bolder;
  padding-bottom: 10px;
  border-bottom: 3px solid #222;
}

.container .heading h3 span {
  font-weight: 100;
}
.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .box .dream {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .box .dream img {
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
}

.container .btn {
  margin: 40px 0 70px 0;
  background: #222;
  padding: 15px 40px;
  border-radius: 5px;
}

.container .btn a {
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 3px;
}

@media only screen and (max-width: 769px) {
  .container .box {
    flex-direction: column;
  }

  .container .box .dream {
    width: 100%;
  }
}

@media only screen and (max-width: 643px) {
  .container .heading {
    width: 100%;
  }
  .container .heading h3 {
    font-size: 1em;
  }
}
/* akhir halaman gallery */

.gambar {
  border-radius: 20px 20px 20px 20px;
  width: 80%;
  height: 100%;
}
